files:
    /usr/local/bin/bill_invoices_script.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            source /opt/python/run/venv/bin/activate
            source /opt/python/current/env
            cd /opt/python/current/app
            python manage.py bill_invoices

    /etc/cron.d/bill_invoices_cron:
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * root /usr/local/bin/bill_invoices_script.sh

commands:
  rm_old_cron:
    command: "rm -fr /etc/cron.d/*.bak"
    ignoreErrors: true