{% extends './invbase/invbase.html' %}
{% load crispy_forms_tags %}
{% block content %}
<hr>
<h1><p class="text-center"><strong>Create Invoice</strong></p></h1>
<hr>
<div class="d-flex align-items-center justify-content-center p-10">
<form id="form-container" method="post">
    {% csrf_token %}
    <div>
    {{ invoice|crispy }}
    </div>
    {{ lineitems.management_form }}
    {% for lineitem in lineitems %}
    <div class="row justify-content-center" id="lineitem">
        <div class="col-9">
            {{ lineitem.product|as_crispy_field }}
        </div>  
        <div class="col-3">
        {{lineitem.line_item_qty|as_crispy_field}}
        </div>
    </div>
    {% endfor %}
    <button id="add-form" class="btn btn-info" type="button">Add Line Item</button>
    <button class="btn btn-success" type="submit" href="invoice-gen" value="Generate">Generate</button>
</form> 
</div>
{% endblock %}