{% extends 'businessbase/businessbase.html' %}
{% block content %}
<div class="container-fluid p-3">
  <div class="row">
    <div class="col">
    <h1 class="text-center"><p>{{business}} <a href="{% url 'update-business' pk=business.pk%}"><i class ="fa fa-pencil fa-md"></i></a></p></h1>
  </div>
  </div>
  <hr>
    {% include 'buscards/buscards.html' %}
  <div class="row justify-content-center p-3">
    <div class="col-lg-6">
      <table class="table table-sm table-striped table-borderless table-hover table-responsive table-scroll text-nowrap w-auto">
        <thead class="thead-dark th-lg">
          <tr>
            <th scope="col">Client</th>
            <th scope="col">Street</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zip</th>
            <th scope="col">Phone</th> 
            <th scope="col">Email</th>
            <th class="text-center" scope="col">Edit</th>
            <th class="text-center w-5" scope="col-">Account</th>
          </tr>
        </thead>
        <tbody>
          {% for client in clients %}
          <tr>
            <td>{{ client.client_name }}</td>
            <td>{{ client.client_street }}</td>
            <td>{{ client.client_city }}</td>
            <td>{{ client.client_state }}</td>
            <td>{{ client.client_zip }}</td>
            <td>{{ client.client_phone }}</td>
            <td>{{ client.client_email }}</td>
            <td class="text-center"><a data-toggle="tooltip" data-placement="top" title="Modify" href="{% url 'update-client' pk=client.pk %}"><i class ="fa fa-pencil fa-lg"></i></a></td>
            <td class="text-center"><a data-toggle="tooltip" data-placement="top" title="View Billing History" href="{% url 'inv-byclient' pk=client.pk %}"><i class ="fa fa-suitcase"></i></a></td>
          </tr>
          {% empty %}
          <td>No Clients Found</td>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      {% include 'invoicetable.html' %}
    </div>
</div>
</div>
{% endblock %}